<launch>
    <!-- Argumento global de simulação -->
    <arg name="sim" default="false" />

    <group ns="whiteboat">
        <node pkg="mavros" type="mavros_node" name="mavros" output="screen">
            <param name="fcu_url" value="/dev/ttyACM0:57600" />
            <param name="target_system_id" value="1" />
            <param name="system_id" value="255" />
            <param name="component_id" value="240" />
        </node>

        <!-- Chamada do módulo de câmera como parte do setup core -->
        <include file="$(find whiteboat_cam)/launch/whiteboat_cam.launch">
            <arg name="sim" value="$(arg sim)" />
        </include>
    </group>
    
</launch>  